extends layout.pug

block content
  section.compose-section
    h2 Compose New Post

    if error
      p.alert.error Please fill in both the title and content.

    if success
      p.alert.success Your post was published successfully!

    form(action="/create" method="POST")
      div.form-group
        label(for="title") Title
        input#title(type="text" name="title", placeholder="Enter post title")
      div.form-group
        label(for="description") Content
        textarea#description(name="description", placeholder="Write your post here")
      button.btn(type="submit") Publish
